[Unit]
Description=Autarchy Battery Monitor Timer
Requires=autarchy-battery-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec

[Install]
WantedBy=timers.target